 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <br>
                <p class="lead"><h3>Hoşgeldiniz!</h3><br><h4>Alışverişe başlayabilirsiniz :)</h4></p>
            </div>
        </div>
    </header>